doctype html
html
    head
        title Dashboard
        link(rel='stylesheet', href='/css/styles.css')
    body
        .container
            h1 Welcome #{user.firstName}
            p This is your dashboard.
            a(href='/logout') Logout
